{% extends "base.html" %}

{% block title %}Generate Some Poetry{% endblock %}

{% block content %}
<p>
  {{ HIS }} hair is {{ HAIR[0] }}<br>
{{ HIS }} lips are sweet surprise<br>
{{ HIS }} hands are never cold<br>
{{ HEHAS }} got {{ EYES[0] }} eyes<br>
{{ HE }}'ll turn the music on you<br>
You won't have to think twice<br>
{{ HEIS }} pure as New York snow<br>
{{ HEHAS }} got {{ EYES[1] }} eyes<br>
And {{ HE }}'ll tease you, {{ HE }}'ll unease you<br>
All the better just to please you<br>
{{ HEIS }} precocious, and {{ HE }} knows just what it<br>
Takes to make a pro blush<br>
{{ HE }} got Greta Garbo's standoff sighs, {{ HEHAS }} got {{ EYES[2] }} eyes<br>
{{ HE }}'ll let you take {{ HIM }} home<br>
It whets {{ HIS }} appetite<br>
{{ HE }}'ll lay you on the throne<br>
{{ HEHAS }} got {{ EYES[3] }} eyes<br>
{{ HE }}'ll take a tumble on you<br>
Roll you like you were dice<br>
Until you come out blue<br>
{{ HEHAS }} got {{ EYES[0] }} eyes<br>
{{ HE }}'ll expose you, when {{ HE }} snows you<br>
Off your feet with the crumbs, {{ HE }} throws you<br>
{{ HEIS }} ferocious and {{ HE }} knows just what it<br>
Takes to make a pro blush<br>
All the boys think {{ HEIS }} a spy, {{ HEHAS }} got {{ EYES[1] }} eyes<br>
And {{ HE }}'ll tease you, {{ HE }}'ll unease you<br>
All the better just to please you<br>
{{ HEIS }} precocious, and {{ HE }} knows just what it<br>
Takes to make a pro blush<br>
All the boys think {{ HEIS }} a spy, {{ HEHAS }} got {{ EYES[2] }} eyes<br>
{{ HE }}'ll tease you<br>
{{ HE }}'ll unease you<br>
Just to please you<br>
{{ HEHAS }} got {{ EYES[3] }} eyes<br>
{{ HE }}'ll expose you<br>
When {{ HE }} snows you<br>
{{ HE }} knows you, {{ HEHAS }} got {{ EYES[0] }} eyes<br><br>

Bette Davis Eyes by Donna Weiss / Jackie De Shannon

</p>

<p> Your beauty is beyond compare<br>
With {{ HAIR[0] }} locks of {{ HAIR[2] }} hair<br>
With ivory skin and eyes of {{ EYES[3] }}<br>
Your smile is like a breath of spring<br>
Your voice is soft like summer rain<br>
And I cannot compete with you, Jolene...<br><br>
Jolene by Dolly Parton</p>

<p>
  {{ HE }} had a white face<br>
  {{ HE }} had {{ EYES[3] }} eyes<br>
  {{ HE }} had burns all over {{ HIS }} body<br>
  {{ HE }} had love for my revulsion<br>
  And {{ HE }} kissed away my repulsion<br>
  {{ HE }} had a white face<br>
  And {{ EYES[2] }} eyes<br><br>
  White Face, Black Eyes by AJJ
</p>

{% endblock %}
